*.html linguist-language=HTML
*.js linguist-language=JavaScript
*.jsx linguist-language=JavaScript
*.ts linguist-language=TypeScript
*.tsx linguist-language=TypeScript
*.scss linguist-language=Sass
*.css linguist-language=CSS

path/to/large/file linguist-vendored
docs/* linguist-documentation
examples/* linguist-examples
assets/style/all.css linguist-vendored
assets/style/style.css linguist-vendored
